<div class="lg:mt-56 lg:ms-8 mt-16 w-full">
  <nav class="flex flex-col gap-8 justify-center items-center">
    <a routerLink="/products"
      class="w-[50vw] lg:w-[10vw] flex cursor-pointer items-center justify-center bg-green-600 text-white rounded-xl shadow-xl hover:opacity-70">
      <span class="text-md font-semibold py-3 px-5">
        PRODUTOS
      </span>
    </a>
    <a routerLink="/categories"
      class="w-[50vw] lg:w-[10vw] flex cursor-pointer items-center justify-center bg-green-600 text-white rounded-xl shadow-xl hover:opacity-70">
      <span class="text-md font-semibold py-3 px-5">
        CATEGORIAS
      </span>
    </a>
  </nav>
</div>
