<div class="ms-16 mt-28">
  <nav class="flex flex-col gap-4">
    <a routerLink="/products" class="flex cursor-pointer items-center justify-center bg-green-600 text-white rounded-xl hover:opacity-70">
      <span class="text-md font-semibold py-3 px-5">
        PRODUTOS
      </span>
    </a>
    <a routerLink="/categories" class="flex cursor-pointer items-center justify-center bg-green-600 text-white rounded-xl hover:opacity-70">
      <span class="text-md font-semibold py-3 px-5">
        CATEGORIAS
      </span>
    </a>
  </nav>
</div>
